lxml

# https://caremad.io/2013/07/setup-vs-requirement/
# setup.py is designed for redistributable things and that
# requirements.txt is designed for non-redistributable things
# XXX so drop this file?
